.title-section {
  text-align: center;
  font-size: 2rem;
  padding: 88px 0;
}
.advantage-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .advantage {
    text-align: center;
    width: 280px;
  }
}
.name {
  font-size: 1.3rem;
  margin: 0;
}
.pre-line {
  margin: 1rem;
}
