.title-section {
  text-align: center;
  font-size: 2rem;
  padding: 88px 0;
}
.advantage-wrapper {
  display: flex;
  .advantage {
    text-align: center;
  }
}
.name {
  font-size: 1.3rem;
  margin: 0;
}
.pre-line {
  margin: 1rem;
}
