<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title-section">Наши преимущества</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 advantage-wrapper">
      <div class="advantage" *ngFor="let item of items">
        <img src="{{baseUrl}}/{{item.image}}" alt="{{item.name}}">
        <p class="name">{{item.name}}</p>
        <img src="assets/img/line_pre.svg" alt="line-pre" class="pre-line">
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
</div>
