.navigation-carousel-wrapper {
  position: absolute;
  @media (max-width: 1024px) {
    right: -35%;
    bottom: 10px;
  }
  @media (min-width: 1025px) {
    right: -20%;
    bottom: 10px;
  }
  @media (max-width: 768px) {
    right: 0;
    bottom: -50%;
  }
  @media (max-width: 425px) {
    right: 0;
    bottom: -90%;
  }
  @media (max-width: 360px) {
    right: 0;
    bottom: -124%;
  }
  z-index: 100;
  div{
    a {
      margin: 1rem;
      cursor: pointer;
    }
  }
}
.nav-white {
  a{
    color: white;
  }
}
