<div class="image">
  <owl-carousel-o [options]="bFoolCarouselOptions" #foolCar>

    <ng-container *ngFor="let item of product.images">
      <ng-template carouselSlide>
        <img src="{{baseUrl}}/{{item.image_horizontal}}" alt="{{item.name}}">
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>

<div class="navigation-carousel-wrapper">
  <div [class.nav-white]="product.block_type_id === 2">
    <a (click)="foolCar.prev()">
      <mat-icon>west</mat-icon>
    </a>
    <a (click)="foolCar.next()">
      <mat-icon>east</mat-icon>
    </a>
  </div>
</div>
