<section id="navigation">
  <app-navigation></app-navigation>
</section>
<section id="top-carousel">
  <app-top-carousel></app-top-carousel>
</section>
<section id="info">
  <app-info></app-info>
</section>
<section id="products">
  <app-product></app-product>
</section>
<section id="our-advantages">
  <app-our-advantages></app-our-advantages>
</section>
<section id="slider-products">
  <app-slider-products></app-slider-products>
</section>
<section id="reviews">
  <app-review></app-review>
</section>
