.title-section {
  text-align: center;
  font-size: 2rem;
  padding: 88px 0;
}
.carousel {
  position: relative;
}
.review {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 3rem 0;
}

.review-text {
  min-width: 320px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.review-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: white solid 2px;
  margin-bottom: 1rem;

  p {
    font-size: 1.5rem;
    margin: 0 1rem 0 0;
    font-family: 'Source Serif Pro', serif;
  }
}

.insta {
  width: 45px;
  height: 45px;
}
.review-description {
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
}
.review-image {
  width: 250px;
  height: 250px;
}
.btn-prev {
  position: absolute;
  left: -2rem;
  top: 50%;
  cursor: pointer;
}
.btn-next {
  position: absolute;
  right: -2rem;
  top: 50%;
  cursor: pointer;
}
