.title-section {
  text-align: center;
  font-size: 2rem;
  padding: 88px 0;
}
.carousel {
  position: relative;
}
.review {
  @media (min-width: 540px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 3rem 0;
  }
  @media (max-width: 539px) {
    margin: 10px;
  }
}

.review-text {
  @media (min-width: 540px) {
    padding: 1rem;
  }
  @media (max-width: 539px) {
    //padding: 1rem;
  }
}

.review-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: white solid 2px;
  margin-bottom: 1rem;

  p {
    font-size: 1.5rem;
    margin: 0 1rem 0 0;
    font-family: 'Source Serif Pro', serif;
  }
}

.insta {
  width: 45px;
  height: 45px;
}
.review-description {
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
  @media (max-width: 768px) {
    padding: 0 2rem 0 1rem;
  }
}
.review-image {
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 250px;
    height: 250px;
  }
}
.btn-prev {
  @media (max-width: 1024px) {
    display: none;
  }
  position: absolute;
  left: -2rem;
  top: 50%;
  cursor: pointer;
}
.btn-next {
  @media (max-width: 1024px) {
    display: none;
  }
  position: absolute;
  right: -2rem;
  top: 50%;
  cursor: pointer;
}
