.description-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.black {
  background: #25282B;
  color: white;
}

.carousel-wrapper {
  position: relative;
}
