mat-toolbar {
  z-index: 999;
  position: fixed;
}
.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: .5rem;
  .logo {
    @media (max-width: 1023px) {
      width: 50%;
    }
    @media (min-width: 1024px) {
      width: 25%;
    }
    display: flex;
    white-space: pre-wrap;
    justify-content: space-between;
    align-items: center;
    &-text {
      @media (max-width: 425px) {
        display: none;
      }
      font-size: 9px ;
      margin: 0 10px;
      line-height: 1rem;
    }
  }
  .menu {
    @media (min-width: 1024px) {
      display: flex;
    }
    @media (max-width: 1023px) {
      display: none;
    }
    width: 50%;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 0;
      li {
        font-size: .8rem;
        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }
  }
  .phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (min-width: 769px) {
      width: 25%;
    }
    @media (max-width: 768px) {
      width: auto;
    }
    font-size: 1rem;
    font-weight: bold;
    a{
      margin-top: 10px;
    }
    a.phone-number {
      text-decoration: none;
      margin: 0;
      color: black;
    }
    img {
      margin: 0 15px;
    }
  }
}
